.user-panel {padding: 10px 10px 25px !important;}
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {background-color: #1A1A1A !important;}
.skin-blue .main-header .logo{background-color: #8A9673 !important;}
.skin-blue .main-header .navbar{background-color: #8A9673 !important;}
.table-bordered>thead>tr>th{border-bottom-width: 2px;font-size: 12px;}
.table-bordered>thead>tr>td {border-bottom-width: 2px;font-size: 10px;vertical-align: top !important;}
.help-block{margin-bottom: 5px;}
#ads-grid-container .select2-container--krajee .select2-selection--single {line-height: 30px;text-align: left;}
.glyphicon-trash{color: red !important;}
.glyphicon-eye-open{color: #3b70f7;}
.glyphicon-pencil{margin: 0 5px;}
.table-bordered>thead>tr>th{text-align: center;}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td{vertical-align: middle;}
.form-inline .form-control {width: 100px;}
.bootstrap-dialog.type-warning .modal-header {background-color: #3b70f7 !important;}
.bootstrap-dialog.type-warning .modal-header {background-color: #3b70f7 !important;}
.btn-success{background-color: #3b70f7 !important;border-color: #3b70f7 !important;color: white !important;}
.form-group.has-success label {color: #3b70f7 !important;}
.order-products_tbl tr th{padding: 5px;}
#customer tr td, #customer tr th{padding: 10px;}
.skin-blue .main-header .navbar .nav>li>a:hover, .skin-blue .main-header .navbar .nav>li>a:active, .skin-blue .main-header .navbar .nav>li>a:focus, .skin-blue .main-header .navbar .nav .open>a, .skin-blue .main-header .navbar .nav .open>a:hover, .skin-blue .main-header .navbar .nav .open>a:focus, .skin-blue .main-header .navbar .nav>.active>a{background: #8a9673;}
.skin-blue .main-header .navbar .nav>li>a:hover, .skin-blue .main-header .navbar .nav>li>a:active, .skin-blue .main-header .navbar .nav>li>a:focus, .skin-blue .main-header .navbar .nav .open>a, .skin-blue .main-header .navbar .nav .open>a:hover, .skin-blue .main-header .navbar .nav .open>a:focus, .skin-blue .main-header .navbar .nav>.active>a{background: transparent !important;}
.skin-blue .main-header .navbar .sidebar-toggle:hover {background-color: #1a1a1a !important;}
.navbar-custom-menu>.navbar-nav>li>.dropdown-menu{top: 50px;}
.skin-blue .main-header li.user-header{background-color: #686868 !important;}
.select2-container .select2-selection--single .select2-selection__rendered{line-height: 30px;}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th{word-break: keep-all;}
.table-bordered thead tr th{white-space: nowrap;}
.table-bordered tbody tr td img{object-fit: contain;}
.table-bordered thead tr th:last-child{padding: 0 20px;}
.select2-container--krajee .select2-selection--single .select2-selection__clear, .select2-container--krajee .select2-selection--multiple .select2-selection__clear{top: 4px;}
.pull-left.image{width: 35px;height: 30;height: 35px;position: relative;left: 10px;top: 5px;}
.sidebar-collapse .pull-left.image{left: 0px;}
.user-panel>.image>img{width: 100%;max-width: 100% !important;height: 100% !important;}
.left-scroll{overflow-y: auto;height: calc(100vh - 120px)}
.empty{text-align: center !important;}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #8A9673 !important;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}


form div.required label.control-label:after {content:" * ";color:red;}
.data_center{text-align: center !important;}
.panel-heading{padding: 0px !important;}
.small-box{box-shadow: 0px 4px 5px 1px #444 !important;margin-bottom: 10px !important;border-radius: 15px !important;}
.small-box .icon{top: 0px !important;font-size: 50px !important;}
.small-box .icon:hover{font-size: 70px !important;}
.navbar-nav>.user-menu .user-image{width: 45px !important;height: 45px !important;padding: 2px !important;box-shadow: 0px 2px 4px 1px yellowgreen !important;}
.main-header .logo .logo-lg img {max-width: 60px !important;}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header>img{object-fit: contain;background-color: #fff;}
table.kv-grid-table tr td input.form-control {width: 100%;}
table.kv-grid-table tr td{position: relative;}
table.kv-grid-table tr td .fa-times{position: absolute;right: 10px;top: 15px;}
table.kv-grid-table tr.filters td{vertical-align: top;}
.file-preview-image{width: 100px;}
.field-brand-is_top_brand{margin-top: 25px;}
.ship-country label{margin-bottom: 20px;}
.mr-top{margin-top: 10px;}
.field-user-is_shop_owner{margin-top: 25px;}
.img-circle{box-shadow: 0px 4px 5px 1px yellowgreen !important;}
.modal-header h3, .modal-title{margin: 0px;}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header{height: 150px !important;}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p{font-size: 20px !important; text-transform: capitalize;}
.user-panel>.info>p{text-transform: capitalize;}
.navbar-nav > li > a{padding-top: 5px;}
.sidebar-profile{background-color: #b8c7ce;border-radius: 5px;box-shadow: 0px 4px 5px 1px yellowgreen !important;}
.small-box h3, .small-box p {color: #000 !important;}
.trial-status-control {width: 100% !important;}